# Stromerzeugung

In [1]:
import pandas as pd

In [2]:
%%time
df = pd.read_csv("data/realisierte_erzeugung.csv", na_values='-')

Wall time: 116 ms

In [3]:
df.describe()

,Biomasse,Wasserkraft,Wind Offshore,Wind Onshore,Photovoltaik,Sonstige Erneuerbare,Kernenergie,Braunkohle,Steinkohle,Erdgas,Pumpspeicher,Sonstige Konventionelle
count,99456.000000,99456.000000,99456.000000,99456.000000,99451.000000,99455.000000,99456.000000,99456.000000,99456.000000,99456.000000,99456.000000,99456.000000
mean,1139.985652,408.187399,706.754464,2756.744862,1462.527767,41.863456,1545.566582,2686.526595,1370.889348,1545.642405,289.269023,341.858370
std,55.625853,96.312296,494.999725,2280.417617,2195.236296,9.588961,440.198891,825.188409,838.618906,706.809651,309.629685,65.964237
min,892.000000,210.000000,0.000000,23.000000,0.000000,14.000000,496.000000,713.000000,182.000000,300.000000,0.000000,140.000000
25%,1102.000000,335.000000,242.000000,1006.000000,0.000000,35.000000,1018.000000,2197.000000,621.000000,931.000000,48.000000,293.000000
50%,1142.000000,394.000000,656.000000,2033.000000,43.000000,41.000000,1657.000000,2899.000000,1202.000000,1454.000000,177.000000,362.000000
75%,1182.000000,478.000000,1157.000000,3969.000000,2444.000000,50.000000,1956.000000,3281.000000,1966.000000,2065.000000,455.000000,389.000000
max,1284.000000,685.000000,1816.000000,11045.000000,9546.000000,60.000000,2052.000000,4232.000000,4100.000000,3772.000000,2037.000000,579.000000

In [4]:
df.fillna(method='ffill', inplace=True) #replacing '-'(nan-values) by PV and sonstige Erneuerbare with previous value

In [5]:
# convert PV and sonstige Erneuerbare to int
df.Photovoltaik = df.Photovoltaik.astype(int)
df['Sonstige Erneuerbare'] = df['Sonstige Erneuerbare'].astype(int)

In [6]:
# convert date to pandas datetime
df.Datum = df.Datum + df.Uhrzeit
df['Datum'] = pd.to_datetime(df['Datum'], format="%m/%d/%Y%H:%M")
df.drop(columns='Uhrzeit', inplace = True)

In [7]:
df.dtypes

Datum                      datetime64[ns]
Biomasse                            int64
Wasserkraft                         int64
Wind Offshore                       int64
Wind Onshore                        int64
Photovoltaik                        int32
Sonstige Erneuerbare                int32
Kernenergie                         int64
Braunkohle                          int64
Steinkohle                          int64
Erdgas                              int64
Pumpspeicher                        int64
Sonstige Konventionelle             int64
dtype: object

In [11]:
df

,Datum,Biomasse,Wasserkraft,Wind Offshore,Wind Onshore,Photovoltaik,Sonstige Erneuerbare,Kernenergie,Braunkohle,Steinkohle,Erdgas,Pumpspeicher,Sonstige Konventionelle
0,2020-01-01 00:00:00,1230,344,125,1476,0,56,2024,2320,496,1269,266,406
1,2020-01-01 00:15:00,1228,340,125,1472,0,56,2021,2326,487,1238,128,406
2,2020-01-01 00:30:00,1225,339,135,1528,0,56,2021,2334,486,1214,103,407
3,2020-01-01 00:45:00,1224,338,164,1560,0,56,2020,2337,493,1196,58,406
4,2020-01-01 01:00:00,1224,344,223,1521,0,56,2023,2352,484,1147,163,403
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99451,2022-11-01 22:45:00,1205,318,1462,5494,0,33,1002,1738,562,726,104,285
99452,2022-11-01 23:00:00,1205,317,1433,5467,0,33,1003,1728,569,686,29,286
99453,2022-11-01 23:15:00,1206,317,1423,5517,0,33,1002,1725,572,648,24,285
99454,2022-11-01 23:30:00,1206,316,1427,5553,0,33,1003,1724,574,652,14,284
99455,2022-11-01 23:45:00,1205,312,1433,5479,0,33,1002,1721,583,644,10,281

In [32]:
wetterabh = ['Photovoltaik', 'Wind Offshore', 'Wind Onshore']
wetterunabh = list(set(df.columns)-set(wetterabh)-set(['Datum']))